- Importing Libraries

In [45]:
import numpy as np
import pandas as pd

 - Data is given as a excel file and importing into python environment.

In [46]:
Countries_GDP=pd.read_excel(r'C:\Users\GOKUL BABU K\Downloads\Dataset_w6.xlsx')

- checking data is imported to Python environment by printing the data.

In [47]:
Countries_GDP.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

# 1.	Find out how many countries are there in the dataset.

- Taking the count of values available in column which contains contry names

In [21]:
Count_of_Countries = Countries_GDP["country"].count()

In [22]:
print("Total Number of Countries = ",Count_of_Countries)

Total Number of Countries =  196

# 2.	Find out how many countries with respect to the region are available in the dataset

- Created groups in the countries on the basis of regions

In [27]:
grouped_countries = Countries_GDP.groupby("Region").size()

In [28]:
grouped_countries

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
dtype: int64

# 3.	On average which region has the highest   
# a) GDP per capita (current US$)

- Find the groupwise mean of GDP per capita

In [49]:
mean_GDP = Countries_GDP.groupby("Region")["GDP per capita (current US$)"].mean().reset_index()

- Sort the values in Descending order and show the first raw

In [48]:
mean_GDP.sort_values('GDP per capita (current US$)',ascending=False).head(1)

             Region  GDP per capita (current US$)
10  NorthernAmerica                       57659.0

# b.	International trade: Imports (million US$)

- Find the groupwise mean of International imports

In [50]:
mean_Import = Countries_GDP.groupby("Region")["International trade: Imports (million US$)"].mean().reset_index()

- Sort the values in Descending order and show the first raw

In [41]:
mean_Import.sort_values("International trade: Imports (million US$)",ascending=False).head(1)

             Region  International trade: Imports (million US$)
10  NorthernAmerica                                   663552.25

# 4.	Find out which region has more consistent with respect to GDP per capita (current US$)

- measuring the consistency of GDP per capita by using standard deviation. If the std deviation is less data will b more consistent.

- Find the groupwise mean of GDP per capita

In [43]:
Std_GDP = Countries_GDP.groupby("Region")["GDP per capita (current US$)"].std().reset_index()

- Sort the values in ascending order and show the first raw

In [44]:
Std_GDP.sort_values('GDP per capita (current US$)',ascending=True).head(1)

           Region  GDP per capita (current US$)
19  WesternAfrica                    815.095399